@font-face {
    font-family: 'Kodchasan-Bold';
    src: url('fonts/Kodchasan-Bold.eot');
    src: url('fonts/Kodchasan-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Kodchasan-Bold.woff2') format('woff2'),
        url('fonts/Kodchasan-Bold.woff') format('woff'),
        url('fonts/Kodchasan-Bold.ttf') format('truetype'),
        url('fonts/Kodchasan-Bold.svg#Kodchasan-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan-BoldItalic';
    src: url('fonts/Kodchasan-BoldItalic.eot');
    src: url('fonts/Kodchasan-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Kodchasan-BoldItalic.woff2') format('woff2'),
        url('fonts/Kodchasan-BoldItalic.woff') format('woff'),
        url('fonts/Kodchasan-BoldItalic.ttf') format('truetype'),
        url('fonts/Kodchasan-BoldItalic.svg#Kodchasan-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan-ExtraLight';
    src: url('fonts/Kodchasan-ExtraLight.eot');
    src: url('fonts/Kodchasan-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Kodchasan-ExtraLight.woff2') format('woff2'),
        url('fonts/Kodchasan-ExtraLight.woff') format('woff'),
        url('fonts/Kodchasan-ExtraLight.ttf') format('truetype'),
        url('fonts/Kodchasan-ExtraLight.svg#Kodchasan-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan-ExtraLightItalic';
    src: url('fonts/Kodchasan-ExtraLightItalic.eot');
    src: url('fonts/Kodchasan-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Kodchasan-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/Kodchasan-ExtraLightItalic.woff') format('woff'),
        url('fonts/Kodchasan-ExtraLightItalic.ttf') format('truetype'),
        url('fonts/Kodchasan-ExtraLightItalic.svg#Kodchasan-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan-Italic';
    src: url('fonts/Kodchasan-Italic.eot');
    src: url('fonts/Kodchasan-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Kodchasan-Italic.woff2') format('woff2'),
        url('fonts/Kodchasan-Italic.woff') format('woff'),
        url('fonts/Kodchasan-Italic.ttf') format('truetype'),
        url('fonts/Kodchasan-Italic.svg#Kodchasan-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan-Light';
    src: url('fonts/Kodchasan-Light.eot');
    src: url('fonts/Kodchasan-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Kodchasan-Light.woff2') format('woff2'),
        url('fonts/Kodchasan-Light.woff') format('woff'),
        url('fonts/Kodchasan-Light.ttf') format('truetype'),
        url('fonts/Kodchasan-Light.svg#Kodchasan-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan-LightItalic';
    src: url('fonts/Kodchasan-LightItalic.eot');
    src: url('fonts/Kodchasan-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Kodchasan-LightItalic.woff2') format('woff2'),
        url('fonts/Kodchasan-LightItalic.woff') format('woff'),
        url('fonts/Kodchasan-LightItalic.ttf') format('truetype'),
        url('fonts/Kodchasan-LightItalic.svg#Kodchasan-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan-Medium';
    src: url('fonts/Kodchasan-Medium.eot');
    src: url('fonts/Kodchasan-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Kodchasan-Medium.woff2') format('woff2'),
        url('fonts/Kodchasan-Medium.woff') format('woff'),
        url('fonts/Kodchasan-Medium.ttf') format('truetype'),
        url('fonts/Kodchasan-Medium.svg#Kodchasan-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan-MediumItalic';
    src: url('fonts/Kodchasan-MediumItalic.eot');
    src: url('fonts/Kodchasan-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Kodchasan-MediumItalic.woff2') format('woff2'),
        url('fonts/Kodchasan-MediumItalic.woff') format('woff'),
        url('fonts/Kodchasan-MediumItalic.ttf') format('truetype'),
        url('fonts/Kodchasan-MediumItalic.svg#Kodchasan-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan-Regular';
    src: url('fonts/Kodchasan-Regular.eot');
    src: url('fonts/Kodchasan-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Kodchasan-Regular.woff2') format('woff2'),
        url('fonts/Kodchasan-Regular.woff') format('woff'),
        url('fonts/Kodchasan-Regular.ttf') format('truetype'),
        url('fonts/Kodchasan-Regular.svg#Kodchasan-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan-SemiBold';
    src: url('fonts/Kodchasan-SemiBold.eot');
    src: url('fonts/Kodchasan-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Kodchasan-SemiBold.woff2') format('woff2'),
        url('fonts/Kodchasan-SemiBold.woff') format('woff'),
        url('fonts/Kodchasan-SemiBold.ttf') format('truetype'),
        url('fonts/Kodchasan-SemiBold.svg#Kodchasan-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Krona One';
    src: url('fonts/KronaOne-Regular.eot');
    src: url('fonts/KronaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/KronaOne-Regular.woff2') format('woff2'),
        url('fonts/KronaOne-Regular.woff') format('woff'),
        url('fonts/KronaOne-Regular.ttf') format('truetype'),
        url('fonts/KronaOne-Regular.svg#KronaOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Otomanopee-One';
    src: url('fonts/OtomanopeeOne-Regular.eot');
    src: url('fonts/OtomanopeeOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/OtomanopeeOne-Regular.woff2') format('woff2'),
        url('fonts/OtomanopeeOne-Regular.woff') format('woff'),
        url('fonts/OtomanopeeOne-Regular.ttf') format('truetype'),
        url('fonts/OtomanopeeOne-Regular.svg#OtomanopeeOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kodchasan-SemiBoldItalic';
    src: url('fonts/Kodchasan-SemiBoldItalic.eot');
    src: url('fonts/Kodchasan-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Kodchasan-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Kodchasan-SemiBoldItalic.woff') format('woff'),
        url('fonts/Kodchasan-SemiBoldItalic.ttf') format('truetype'),
        url('fonts/Kodchasan-SemiBoldItalic.svg#Kodchasan-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RubikMonoOne-Regular';
    src: url('fonts/RubikMonoOne-Regular.eot');
    src: url('fonts/RubikMonoOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/RubikMonoOne-Regular.woff2') format('woff2'),
        url('fonts/RubikMonoOne-Regular.woff') format('woff'),
        url('fonts/RubikMonoOne-Regular.ttf') format('truetype'),
        url('fonts/RubikMonoOne-Regular.svg#RubikMonoOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stripes';
    src: url('fonts/Stripes.eot');
    src: url('fonts/Stripes.eot?#iefix') format('embedded-opentype'),
        url('fonts/Stripes.woff2') format('woff2'),
        url('fonts/Stripes.woff') format('woff'),
        url('fonts/Stripes.ttf') format('truetype'),
        url('fonts/Stripes.svg#Stripes') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marigo';
    src: url('fonts/MarigoRegular.eot');
    src: url('fonts/MarigoRegular.eot?#iefix') format('embedded-opentype'),
        url('fonts/MarigoRegular.woff2') format('woff2'),
        url('fonts/MarigoRegular.woff') format('woff'),
        url('fonts/MarigoRegular.ttf') format('truetype'),
        url('fonts/MarigoRegular.svg#MarigoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


