@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
  
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Kodchasan, Arial, sans-serif;
  @apply m-0 p-0 overflow-x-hidden bg-Lime text-SmokeBlack
}

.container {
  @apply flex flex-col gap-0 items-center w-full
}

header {
  @apply fixed top-0 h-[5vw] w-full z-10 flex items-center justify-between bg-CofeeBrown/60 backdrop-blur px-8
}

main {
  @apply flex-1 mt-[5vw] w-full
} 

.menu {
  @apply flex justify-between gap-10 list-none m-0 p-0
}

.menu li {
  @apply m-0
}

.menu a {
  @apply text-black no-underline
}

.menu a:hover {
  @apply underline underline-offset-4
}

.menu a.active {
  @apply no-underline;
}

.menu a.active:hover {
  @apply underline underline-offset-4;
}

.asymetric-article {
  @apply w-full
}

footer {
  @apply bg-CofeeBrown/60 backdrop-blur w-full p-8 text-xs
}

.hero{
@apply w-[100vw] h-[45vw] 2xl:h-[50vw] 3xl:h-[45vw] relative xl:pt-8 
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .hero {
      height: 40vh;
  }
}

/* Tablet fekvő mód (pl. iPad landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .hero {
      height: 85vh;
  }
}

/* Telefon álló mód */
@media (max-width: 767px) and (orientation: portrait) {
  .hero {
      height: 40vh;
  }
}

/* Telefon fekvő mód */
@media (max-width: 767px) and (orientation: landscape) {
  .hero {
      height: 100vh;
  }
}

.hero-base{
border-radius: 30% 30% 0px 0px;
/* background: linear-gradient(180deg, #FAF5EC 18.1%, rgba(255, 255, 255, 0.00) 100%); */
background: linear-gradient(180deg, #c8cec3 0%, #E6EFDF 44.1%, #FAFEF6 100%);
@apply w-full h-full absolute md:-top-24 xl:-top-24 left-1/2 -translate-x-1/2
}



.hero-slide-wrapper{
  @apply w-full h-full flex flex-col flex-shrink-0 relative left-1/2 -translate-x-1/2 mt-10 md:mt-20 xl:mt-6
}

.hero-swiper{
  @apply w-full h-full absolute left-1/2 -translate-x-1/2 bottom-0
}

.balls-wrapper{
  @apply w-full h-1/2 relative flex items-center justify-center translate-y-[110%] sm:translate-y-[90%]
}

.white-ball{
  @apply  w-[70%] sm:w-[70%] absolute left-1/2 -translate-x-1/2
}

.slider-pics{
  @apply w-[45vw] h-[45vw] sm:w-[18vw] sm:h-[18vw] bg-contain bg-no-repeat bg-center absolute left-1/2 -translate-x-1/2
}

.swiper-slide{
  width:28% !important;
}

.swiper-slide-active{
  transition: transform 0.6s ease-in-out, width 0.6s ease-in-out !important;
  transform: scale(1.45) translateX(2.5rem) translateY(-6.5vw) !important
}

 @media (max-width: 767px) and (orientation: portrait) {
  .swiper-slide-active{
    transform: translateY(-22vw) !important;
}
}
/*
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .swiper-slide-active{
    transform: scale(1.45) translateX(2.5rem) translateY(-5vh) !important;
}
}

@media (min-width: 1025px){
  .swiper-slide-active{
    transform: scale(1.45) translateX(2.5rem) translateY(-6.5vw) !important;
}
} */

.swiper-slide-next{
  @apply translate-x-16
}

@keyframes fadeIN {
  from {opacity: 0; visibility: hidden;}
  to {opacity: 1; visibility: visible;}
}

h1{
  @apply w-full font-marigo text-center text-[5vw] sm:text-[6.8vw] lg:text-[5vw] text-DarkOlive mt-3 sm:-mt-[0.5vw]
}

h2, .swiper-slide h2 {
  visibility: hidden;
}

.swiper-slide-active h2 {
  animation: fadeIN 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
  color: #868786 !important;
   @apply invisible font-otomanopee text-[4.5vw] sm:text-[3.5vw] absolute left-1/2 -translate-x-1/2 sm:left-[40vw] -top-[3.5vh] sm:top-[0.5vh] lg:-top-[1vw] 
}

.title{
@apply flex flex-col items-center justify-between w-full h-[40vw] pt-[2vw] pr-[6vw] pb-[5.75vw] pl-[6vw] mb-10
}

/* .title-clip{
  @apply text-[15vh] font-rubik relative text-transparent
}
 
.title-clip::before {
  content: "ÉLMÉNYJÁRMŰ";
  background: url('img/elmenyjarmualap.svg') ; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply absolute top-0 left-0 w-full h-full bg-no-repeat bg-center bg-cover bg-clip-text 
}   
*/

.title-striped{
@apply font-stripes text-[13vw]
}

.enum{
  @apply h-[30vh] lg:h-[90vh] w-full mb-32 md:text-[1.5vw] relative md-xl:flex 
}

.orange-circle{
  @apply bg-Orange/10 rounded-full w-[30vw] h-[30vw] absolute top-1/2 -translate-y-1/2 -translate-x-10
}

.orange-circle-striped{
@apply md:h-[65%] md:w-[65%] lg:h-[66%] lg:w-[66%] 2xl:h-[70%] 2xl:w-[70%] absolute top-1/2 -translate-y-1/2 translate-x-10 opacity-80
}

.enumlist-items{
  @apply text-justify gap-8
}

.about{
  @apply py-16 px-8 flex justify-start items-start gap-10 w-full h-[70vh] 
}

.about h2{
  @apply font-krona text-[9vh]
}

.about-article{
@apply text-justify md:text-xl xl:text-2xl
}

.word-wrapper{
  @apply flex justify-start gap-2 items-start w-[50%] flex-shrink-0
}

.letter-wrapper{
  @apply w-[47%] h-full -translate-y-20 flex flex-col items-center gap-4 flex-shrink-0
}

.o-wrapper{
  @apply relative 
}

.white-circle{
  @apply w-[19vw] h-[19vw] bg-white rounded-full absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 
}

.arrow-wrapper{
  @apply flex flex-col items-end gap-4
}

.arrows{
@apply w-[15vh] h-[10vh] flex justify-end items-center relative
}

.arrows :first-child{
clip-path: polygon(0 0, 74% 50%, 0 100%, 0% 70%, 29% 50%, 0 30%);
  @apply w-[50%] h-[10vh] bg-Orange translate-x-4 border-2 absolute -right-2
}

.arrows :last-child{
clip-path: polygon(0 0, 74% 50%, 0 100%, 0% 70%, 29% 50%, 0 30%);
  @apply w-[50%] h-[10vh] bg-black/50 border-2 absolute right-4
}