@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
  
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Kodchasan, Arial, sans-serif;
  @apply m-0 p-0 overflow-x-hidden bg-Lime text-SmokeBlack
}

body p{
  @apply break-words hyphens-auto
}

.container {
  @apply flex flex-col gap-0 items-center w-full
}

header {
  @apply fixed top-0 h-[5vw] w-full z-10 flex items-center justify-between bg-CofeeBrown/60 backdrop-blur px-8
}

main {
  @apply flex-1 mt-[5vw] w-full
} 

.menu {
  @apply flex justify-between gap-10 list-none m-0 p-0
}

.menu li {
  @apply m-0
}

.menu a {
  @apply text-black no-underline
}

.menu a:hover {
  @apply underline underline-offset-4
}

.menu a.active {
  @apply no-underline;
}

.menu a.active:hover {
  @apply underline underline-offset-4;
}

.asymetric-article {
  @apply w-full
}

footer {
  @apply bg-CofeeBrown/60 backdrop-blur w-full p-8 text-xs
}

.hero{
@apply w-[100vw] h-[45vw] 2xl:h-[50vw] 3xl:h-[45vw] relative xl:pt-8 
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .hero {
      height: 40vh;
  }
}

/* Tablet fekvő mód (pl. iPad landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .hero {
      height: 85vh;
  }
}

/* Telefon álló mód */
@media (max-width: 767px) and (orientation: portrait) {
  .hero {
      height: 40vh;
  }
}

/* Telefon fekvő mód */
@media (max-width: 767px) and (orientation: landscape) {
  .hero {
      height: 100vh;
  }
}

.hero-base{
border-radius: 30% 30% 0px 0px;
/* background: linear-gradient(180deg, #FAF5EC 18.1%, rgba(255, 255, 255, 0.00) 100%); */
background: linear-gradient(180deg, #c8cec3 0%, #E6EFDF 44.1%, #FAFEF6 100%);
@apply w-full h-full absolute md:-top-24 xl:-top-24 left-1/2 -translate-x-1/2
}

.hero-slide-wrapper{
  @apply w-full h-full flex flex-col flex-shrink-0 relative left-1/2 -translate-x-1/2 mt-10 md:mt-20 xl:mt-6
}

.hero-swiper{
  @apply w-full h-full absolute left-1/2 -translate-x-1/2 bottom-0
}

.balls-wrapper{
  @apply w-full h-1/2 relative flex items-center justify-center translate-y-[110%] sm:translate-y-[90%]
}

.white-ball{
  @apply  w-[70%] sm:w-[70%] absolute left-1/2 -translate-x-1/2
}

.slider-pics{
  @apply w-[45vw] h-[45vw] sm:w-[18vw] sm:h-[18vw] bg-contain bg-no-repeat bg-center absolute left-1/2 -translate-x-1/2
}

.swiper-slide{
  width:28% !important;
}

.swiper-slide-active{
  transition: transform 0.6s ease-in-out, width 0.6s ease-in-out !important;
  transform: scale(1.45) translateX(2.5rem) translateY(-6.5vw) !important
}

 @media (max-width: 767px) and (orientation: portrait) {
  .swiper-slide-active{
    transform: translateY(-22vw) !important;
}
}

.swiper-slide-next{
  @apply translate-x-16
}

@keyframes fadeIN {
  from {opacity: 0; visibility: hidden;}
  to {opacity: 1; visibility: visible;}
}

h1{
  @apply w-full font-marigo text-center text-[5vw] sm:text-[6.8vw] lg:text-[5vw] text-DarkOlive mt-3 sm:-mt-[0.5vw]
}

.swiper-slide h2 {
  visibility: hidden;
}

.swiper-slide-active h2 {
  animation: fadeIN 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
  color: #868786 !important;
   @apply invisible font-otomanopee text-[4.5vw] sm:text-[3.5vw] absolute left-1/2 -translate-x-1/2 sm:left-[40vw] -top-[3.5vh] sm:top-[0.5vh] lg:-top-[1vw] 
}


.heading-striped{
  @apply font-stripes text-Orange/40
  }  

@keyframes headingAnimateInit {
  from
  {
    opacity:0;
    transform: translateX(0);
  }
  to
  {
    opacity:1;
    transform:translateX(55vw);
  }
}

.heading-animate{
 animation: headingAnimateInit 3s ease-in-out 1s forwards;
}

.description{
@apply flex flex-col items-center justify-between w-full h-[80%] sm:scale-[110%] pt-[2vw] pr-[6vw] pb-[5.75vw] pl-[6vw] mb-10 mt-10 sm:mt-[30vw]
}

.description-grid-container{
  @apply grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-10 mt-16 sm:mt-28 mb-10 sm:mb-40 
}

.description-grid-items{
  @apply relative bg-white border border-Orange hover:bg-lime-200/5 rounded-3xl drop-shadow-lg
}

.description-grid-items figure{
@apply w-full aspect-video overflow-hidden rounded-3xl
}

.description-grid-items p{
  @apply xxs-xs-mini:text-[3.7vw] sm:text-[1.35vw] leading-8 sm:leading-10 p-10 text-justify
}

.description-img{
  @apply opacity-60 group-hover:scale-[115%] transition duration-500 h-[13vw] w-[13vw] mt-4 mx-auto
}

.enum{
  @apply h-[80vh] sm:h-[40vh] md-lg-portrait:h-[40vh] lg:h-[50vh] xl:h-[70vh] w-full xxs-xs-mini:text-[3.7vw] sm:text-[1.6vw] relative md-xl:flex sm:mt-10 md:mt-28 sm:mb-32 md:mb-16
}

.orange-circle{
  @apply bg-none sm:bg-lime-200/10 border border-Orange drop-shadow-lg sm:rounded-full sm:w-[30vw] sm:h-[30vw] sm:absolute sm:top-1/2 sm:-translate-y-1/2 sm:-translate-x-10 flex flex-col gap-8 translate-x-10 sm:block
}

.orange-circle::before{
  content:'';
  @apply bg-Orange/10 rounded-full xxs:w-[100vw] xxs:h-[100vw] xs:w-[95vw] xs:h-[95vw] translate-x-10 -translate-y-8  absolute sm:hidden
}

.orange-circle::after{
  content:'';
  @apply bg-Orange/10 rounded-full xxs:w-[100vw] xxs:h-[100vw] xs:w-[95vw] xs:h-[95vw]  -translate-x-14 translate-y-[40vh] absolute sm:hidden
}

.orange-circle-striped{
@apply md:h-[65%] md:w-[65%] lg:h-[66%] lg:w-[66%] 2xl:h-[70%] 2xl:w-[70%] absolute top-1/2 -translate-y-1/2 translate-x-10 opacity-80 hidden md:block
}

.enumlist-items{
  @apply text-justify gap-4 sm:gap-8 break-words hyphens-auto
}

.about{
  @apply w-full h-[70vh] px-8 mt-20 xxs:mt-48 xs:mt-32 sm:mt-10
}

.about-shape{
  shape-outside:border-box;
  float:left;
  @apply w-full sm:w-[50%] h-[25%] sm:h-[50%]
}

.about h2, .mission h2{
  @apply font-krona text-[12vw] sm:text-[6.5vw]
}

.about .word-wrapper{
  @apply flex justify-start items-start gap-5 w-full h-full
}

.letter-wrapper{
  @apply  w-[25%] h-[50%] sm:h-[40%] lg:h-[60%] 2xl:h-full -translate-y-2 2xl:-translate-y-14 flex flex-col items-center gap-1 lg:gap-4 flex-shrink-0
}

.o-wrapper{
  @apply  relative w-[125%]
}

.cream-circle{
  @apply w-[80%] h-[80%] bg-Cream rounded-full absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 
}

.about .arrow-wrapper{
  @apply flex flex-col items-start w-full h-full
}

.arrows{
@apply w-1/2 h-[40%] flex justify-end items-center relative translate-x-[100%] sm:translate-x-[80%] xl:translate-x-[70%] 
}

 .arrows :first-child{
clip-path: polygon(0 0, 74% 50%, 0 100%, 0% 70%, 29% 50%, 0 30%);
  @apply bg-Orange border-2 w-[5vh] h-[5vh] translate-x-4 sm:translate-x-0 sm:scale-125 lg:scale-150 2xl:scale-[200%]
}

 .arrows :last-child{
clip-path: polygon(0 0, 74% 50%, 0 100%, 0% 70%, 29% 50%, 0 30%);
  @apply  bg-black/40 border-2 w-[5vh] h-[5vh] sm:scale-125 lg:scale-150 2xl:scale-[200%]
}

.about-article p, .mission-article p{
  line-height:3rem !important;
@apply text-justify sm:text-[1.7vw]
}

@media (min-width:325px) and (max-width:1024px){
  .about-article p, .mission-article p{
    line-height:2rem !important;
  }
}

/* .mission{
    @apply py-16 px-8 flex flex-col xl:flex-row gap-0 justify-around items-start w-full h-[70vh] xxs:mt-28 xs:mt-20 relative
}

.mission h2{
  @apply font-krona text-[3.3vh] sm:text-[9vh]
}

.mission-article{
  @apply absolute top-[30%] left-10 w-[52%]
}

.mission .arrows :first-child {
  clip-path: polygon(100% 0, 26% 50%, 100% 100%, 100% 70%, 71% 50%, 100% 30%);
  @apply w-[5vh] h-[5vh] sm:w-[50%] sm:h-[10vh] bg-Orange -translate-x-4 border-2 absolute left-1 md-lg-landscape:left-1 md-lg-portrait:-left-6 md:-left-2 2xl:-left-4;
}

.mission .arrows :last-child {
  clip-path: polygon(100% 0, 26% 50%, 100% 100%, 100% 70%, 71% 50%, 100% 30%);
  @apply w-[5vh] h-[5vh] sm:w-[50%] sm:h-[10vh] bg-black/50 border-2 absolute left-4;
}

.mission .arrow-wrapper{
  @apply flex flex-col items-end w-full
}

.mission .letter-wrapper{
  @apply w-[25%] sm:w-[47%] xl-2xl:w-[60%] h-full -translate-y-14 2xl:-translate-y-28 flex flex-col items-center gap-4 flex-shrink-0 
}

.mission .word-wrapper{
  @apply flex justify-center sm:justify-start gap-2 items-start w-full sm:w-[50%] xl-2xl:w-[30%] flex-shrink-0 absolute xxs:right-[1rem] xs:right-[.5rem] xl:right-[24rem] 
}

.mission .orange-dot{
  @apply w-[30px] h-[30px] sm:w-[50px] sm:h-[50px] xl:w-[70px] xl:h-[70px] bg-Orange rounded-full
} */